
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/mediaQueries";
@import "../partials/navbar";
@import "../partials/index";
@import "../partials/catalogo";
@import "../partials/tecnologia";
@import "../partials/nosotros";
@import "../partials/formularios";
@import "../partials/footer";
@import "../partials/404";



