.tecnologia1 {
    color: antiquewhite;
    padding: 3%;
    background-color: black;
    height: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
     h4 {
      text-align: center;
      color: $bgfooter;
      height: 35px;
    }
    p{
      color: whitesmoke;
    }
  }
  
  main img {
    width: 250px;
    height: 150px;
  }