.tecnologia1 {
    color: antiquewhite;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
     h4 {
      text-align: center;
      color: $bgfooter;
    }
    p{
      color: whitesmoke;
    }
  }
  main img {
    width: 250px;
    height: 150px;
  }
  .botonera{
    color: black;
    padding: 10px;
    background-color: $bgfooter;
}

.botonera:hover{
  border: solid $bgfooter;
  background-color: black;
  color: $bgfooter;
}
