.tecnologia1 {
    color: antiquewhite;
    background-color: black;
    // height: 20rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
     h4 {
      text-align: center;
      color: $bgfooter;
    }
    p{
      color: whitesmoke;
    }
  }
  .botonTec{
    color: $bgfooter;
  }
  main img {
    width: 250px;
    height: 150px;
  }
